[Unit]
Description=Run MM RAG Guard every 1 minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=15s
Persistent=true
Unit=mm-rag-guard.service

[Install]
WantedBy=timers.target
